.card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}

.card {
   border: 1px solid black;
   background: #ffffff;
   border-radius: 15px;
   justify-self: center;
   align-self: center;
   margin: 10px;
   padding: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
   text-align: center;
}
